.DetailMaincontainer {
  background-color: #faf7f5;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 2vw;
}

.DetailMainHeadercontainer {
  text-align: center;
  width: 100vw;
  margin-top: 43px;
}

.DetailCountryMaincontainer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  height: 16.5vh;
  background-color: #ffffff;
}
.DetailCountryLeftcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DetailCountryLeftcontainer img {
  border-radius: 60px;
  margin: 2vw;
}

.DetailCountryLeftDatecontainer {
  padding-bottom: 10px;
}

.DetailCountryLeftDatecontainer p {
  font-weight: 700;
  font-size: 24px;
  line-height: 26.4px;
  color: #555555;
}

.DetailCountryLeftDatecontainer div {
  font-weight: 700;
  font-size: 36px;
  line-height: 39.6px;
  color: #3d3d3d;
}
.DetailCountryLeftDatecontainer span {
  font-weight: 600;
  font-size: 14px;
  line-height: 15.4px;
  color: #8b8b8b;
}

.DetailForcastMaincontainer {
  border: 6px;
  width: 100vw;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;

  margin-top: 3vh;
}

.DetailCountryRightDatecontainer {
  padding: 5px;
  text-align: end;
  margin-right: 3vw;
}

.DetailCountryRightDatecontainer span {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.6px;
  color: #3d3d3d;
}

.DetailCountryRightDatecontainer div {
  font-weight: 600;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.6px;
  color: #8b8b8b;
}

.DetailForcastMaincontainer h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .DetailMaincontainer {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .DetailMainHeadercontainer {
    width: 810px;
  }
  .DetailMaincontainer {
    /* position: fixed; */
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .DetailForcastMaincontainer {
    width: 810px;
  }
}
