body {
  padding: 0;
  margin: 0;
  font-family: Pretendara;
  background-color: #faf7f5;
}

@font-face {
  font-family: 'Pretendara';
  src: url('/bzznb/public/fonts/Pretendard-Black.ttf') format('ttf');
}
@media screen and (min-width: 800px) {
  @media screen and (min-width: 1280px) {
    body {
      width: 1280px;
      margin: 0 auto;
    }
  }

  body {
    width: 100%;
  }
}

@media screen and (max-width: 799px) {
  body {
    overflow-x: scroll; /* 스크롤로 볼 수 있도록 */
  }
}
